<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.example.bookbox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookBox"
        android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        <activity
            android:name=".ui.cart.BuyBooks"
            android:exported="true" />
        <activity
            android:name=".ui.activity.TextActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".ui.cart.RentBooks"
            android:exported="true" />
        <activity
            android:name=".ui.activity.FourActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.ThreeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.TwoActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.OneActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.BuyActivity"
            android:exported="true" />
        <activity
            android:name=".ui.account.CouponActivity"
            android:exported="true" />
        <activity
            android:name=".ui.account.AboutActivity"
            android:exported="true" />
        <activity
            android:name=".ui.account.NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".ui.product.ProductActivity"
            android:exported="true" />
        <activity
            android:name=".ui.rtproduct.RTProductActivity"
            android:exported="true" />
        <activity
            android:name=".ui.bsproduct.BSProductActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.PasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.detailproduct.DetailProductActivity"
            android:exported="true" />
        <activity
            android:name=".onboarding.OnboardingExample2Activity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.SplshActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>